/*Options - Colour, Size*/

form.variations_form input[type=radio] {
   /* display:none;*/
}

label.pa_colour {
    display: inline-block;     
    cursor: pointer;     
    position: relative;     
    padding-left: 25px;     
    margin-right: 15px;     
    font-size: 13px;
    overflow: hidden;
    width: 38px;
    height: 38px;
    color: transparent;
    border: 2px solid #333;
    /* padding: 2px; */
}
label.pa_colour.active {
    border: 2px solid #7790b1;
}

label.pa_colour:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    margin: 2px 2px 1px 2px;
}

label.pa_size {
    content: "";
    display: inline-block;
    padding: 0px 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 23px;
    margin-right: 10px;
    border: 2px dotted #bbb;
    color: #bbb;
}
label.pa_size.available {
    border: 2px solid #333;
    color: #333;
}

label.pa_size.active {
    border: 2px solid #7790b1;
    color: #333;
}

.quantity .label {
    display: none;
}

.quantity input.qty {
    color: #7D7D7D;   
    font-size: 1.6rem;   
    font-size: 16px;   
    padding: 0 25px 0 10px;   
    padding: 0 2.5rem 0 1rem;   
    width: 90px;   
    text-align: left;   
    background-color: transparent;   
    border-color: inherit !important;   
    height: 36px;   
    border: 1px solid #F1F1F1 !important;   
    border-radius: 4px;
}


label.heather-grey:before { background-color: #XXX; }



label.heather-grey:before { background-image: url(colour-options/heather-grey.png); }
label.heather-pine-needle:before { background-color: #144114; }



label.acid-wash:before {background-color: #XXX;}
label.alpha-green:before {background-color: #XXX;}
label.andes-blue:before {background-color: #XXX;}
label.antique-rose:before {background-color: #XXX;}
label.apricot:before {background-color: #XXX;}
arctic-mint
autumn-leaf
label.bandana:before {background-color: #XXX;}
basin-green
label.beige:before {background-color: #XXX;}
label.bengal:before {background-color: #XXX;}
label.berry:before {background-color: #XXX;}
big-bang
big-bangnemo
label.bikini-pink:before {background-color: #XXX;}
label.birch-white:before {background-color: #XXX;}
label.birds-of-paradise:before {background-color: #XXX;}
label.black:before {background-color: #XXX;}
black & ecru
label.black-magic:before {background-color: #XXX;}
black-space Dye
label.black-w-skipper-blue:before {background-color: #XXX;}
black-electric-violet
label.black-iron:before {background-color: #XXX;}
label.black-pink:before {background-color: #XXX;}
label.black-steel:before {background-color: #XXX;}
label.black-white:before {background-color: #XXX;}
label.blackbronze:before {background-color: #XXX;}
label.blackberry:before {background-color: #XXX;}
label.blue:before {background-color: #XXX;}
blue-Bell
label.blush:before {background-color: #XXX;}
label.boho:before {background-color: #XXX;}
label.boysenberry:before {background-color: #XXX;}
label.bronze:before {background-color: #XXX;}
label.brown:before {background-color: #XXX;}
label.burgundy:before {background-color: #XXX;}
label.camel:before {background-color: #XXX;}
camp-Green
channel-Blue
label.charcoal:before {background-color: #XXX;}
label.cherry:before {background-color: #XXX;}
label.chestnut:before {background-color: #XXX;}
label.chocolate:before {background-color: #XXX;}
label.cilantro:before {background-color: #XXX;}
cilantro-w-Forge-Grey
label.citron:before {background-color: #XXX;}
classic-Navy
label.cloud:before {background-color: #XXX;}
label.coal:before {background-color: #XXX;}
cobalt-Blue
cochineal-red
Cool-Grey
Copa-Cabana
copacoralcheetah
label.coral:before {background-color: #XXX;}
Cranberry
Crimison-Red
Crimson-Red
Curacao-w-White
label.cutie:before {background-color: #XXX;}
Dark-Black
Dark-Blue
Dark-Grey
Dark-Olive
Deep-Purple
deep-sea-blue
label.denim:before {background-color: #XXX;}
Denim-Blue
Diamante Graphic: Curaco
Diamante Graphic: Ginger Berry
Diamante Graphic: Nettle Green
Diamond Dancer: Tyrian Purple
dot
Earth
Ecru
Eggplant
El Cap Khaki
electric blue
Electric Eel
Electric Violet
Ella Gold
Emerald
fawn
flamingo/black chevron
Forge Grey
Forge Grey - Nickel X Dye
Free Fly
Glass Blue
Gold Stripe
grapefruit linen
Graphite
GRAVEL
Gravel Heather
Gray
Green
Green Tea
Green With Envy
Grey
Grey w/ Black
gypsy
Hawaii
Heahter Sangria
Heather
Heather Charcoal
Heather Grey
Heather Pine Needle
hot pink
Hunter
Indigo
Iron
Jade
Jamaica
Java Brown
Jewels
Kelly
Kimono
Lavender
Leah Gold
Leah Silver
Light Coral
Light Heather
Light Heather Grey
Light Heather Grey Stripe
Lime
Magic Plum
Malachite Green
Mayan Yellow
maze
Merlot
Midnight
Mint
Mocha
Moon
MOSS
Mountain Grey
Mud
multi colours
Mustard
Navy
Navy Blue
Navyblue
neon berry
Neon Coral
neon pink
Nickel - Tailored Grey X-Dye
Nikki Gold
Nikki Silver
Northern Light Vintage
Nude
Oatmeal
Ocean
Olive
Olive The Army
Olive w/ Black
Orange
Orange/Grey
orchid
orchid/turq
Owl
Peach Sherbet
Peaches & Cream
Pine Needle
Pink
Pink Flame
Plum
Plum Stripe
polka dot
Portobello
purple
Purple/Neon Pink
Quinoa
Raven
Red
Red/Blue
Red/Yellow
River
Royal
Rudraksha
rust
Rust/Sky
sage
Sangria
seafoam
seafoam/citron
Sienna
sky
SLATE
solar system
Steel
Steel/White Stripe
stone wash
sugar skull
Sunset
Tailored Grey
Tarmac
TEAL
TEAM DTV
Thudercloud
Thunder
Thunder Cloud
Thundercloud
Timber Wolf
Tomato Stripe
Turkish Red
Turquoise
tutti frutti
tuttifrutti/seafoam/citron
UN Blue
Vanilla
Violet
Vista
White
white tiger
Wht/Blk/Red/Ylw
Wild Plum
Yellow
Yellow Zinc




